bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
.configure.bazelrc
.user.bazelrc
org.eclipse.buildship.core.prefs
app.iml
.vscode
test/facemesh/app/build
add.bin
xcschememanagement.plist
UserInterfaceState.xcuserstate
test/iristracking/.gradle
test/facemesh/.gradle
test/facedetection/.gradle
test/handtrackingios/handtrackingios.xcodeproj/xcuserdata/yuechuanzhen.xcuserdatad
test/facemesh/.idea
test/faceeffect/.idea
mediapipe/examples/ios/Mediapipe.xcodeproj/xcuserdata/yuechuanzhen.xcuserdatad
provisioning_profile.mobileprovision
Breakpoints_v2.xcbkptlist
test/facemeshios/facemeshios/FaceMeshFramework.framework
test/upperbodyposetracking/.gradle
test/upperbodyposetracking/.idea
upperbodyposetracking.iml
.project
.idea
test/iristracking/.idea
test/handtracking/.idea
