bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
org.eclipse.buildship.core.prefs
*.aar
app.iml
.vscode
test/facemesh/app/build
add.bin
xcschememanagement.plist
UserInterfaceState.xcuserstate
test/iristracking/.gradle
test/facemesh/.gradle
test/facedetection/.gradle
test/handtrackingios/handtrackingios.xcodeproj/xcuserdata/yuechuanzhen.xcuserdatad
test/facemesh/.idea
test/faceeffect/.idea
